* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-image: url('/static/useronboard/login/images/desktopbckg.png'); */
    background-repeat: no-repeat;
    font-family: tahoma;
    /* overflow: hidden; */

}

body {
    background-image: url('/static/useronboard/login/images/desktopbckg.png');
    background-size: cover;
    height: 105vh;
    margin-bottom: 20px;
}

.mainsection {
    background-color: white;
    display: flex;
    width: 80%;
    /* overflow: hidden; */
    margin: 50px auto;
    border-radius: 20px;
    /* grid-template-columns: 50% 50%; */
    align-items: center;
    justify-content: space-around;
}

/* BUTTON EDITS STARTS HERE */
button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #2464b4;
    color: rgb(232, 231, 231);
    border: 1px solid transparent;
    display: flex;
    /* width: 490px; */
    align-items: center;
    font-size: 15px;
  }
  
  button:hover {
    background-color: #2464b4;
    color: rgb(232, 231, 231);
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }

  a {
    text-decoration: none;
  }
  
  button:active {
    transform: scale(0.95);
  }

  
  .formbtn{
    border-radius: 50px; 

  }
  
  
/* BUTTON EDITS ENDS HERE */

.loginmainimg img {
    margin-left: 50px;
}

.quote {
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* media query starts here ........... */
@media only screen and (max-width: 865px) {

    body {
        background-image: url('/static/useronboard/login/images/mobilebkg.png');
        background-size: cover;
        /* overflow: hidden; */
    }

    .mainsection {
        background-color: white;
        display: inline;
        width: 80%;
        margin: 50px auto;
        border-radius: 20px;
        /* align-items: center; */
        justify-content: space-around;
        text-align: center;
    }

    .loginmainimg img {
        width: 100vw;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    .logoandwelcome img {
        margin-bottom: 20px;
    }

    .quote {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}