{% include 'general.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'useronboard/login/images/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'community/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Community Page | ITSA Inventory System</title>
	</head>
    <body>
        
        <div class='shadow'></div>
        <div class='mainsectionallregisteredoutter'>
            <div class='mainsectionallregistered'>
                <div class='communityintro'>
                    <h1>Community Page</h1>
                </div>
                <div class='mainbodysection'>
                    <h1>Kindly Leave Us A Review, Tell Us How We Can Serve You Better</h1>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}