<form method = 'POST' enctype='multipart/form-data'>
    {% csrf_token %}
    {{form_p}}
    <button type="Submit" >submit </button>
</form>


{% comment %} DISPLAY DATA CONTAINED IN UPLOADED FORM SETTINGS BELOW  {% endcomment %}
<table id="table" class="display" style="width: 100%;">
    <thead>
        <tr>
        {% for header in headers%}
        <th>{{ header }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for row in data %}
        <td>{{row}}</td>
        {% endfor %}
        </tr>
    </tbody>
</table>