* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-image: url('/static/useronboard/login/images/desktopbckg.png'); */
    background-repeat: no-repeat;
    font-family: tahoma;
    /* overflow: hidden; */

}

body {
    background-image: url('/static/useronboard/login/images/desktopbckg.svg');
    background-size: cover;
}

/* LOGIN FORM SETUP SECTION STARTS HERE */
.formandimage {
    background-color: white;
    display: flex;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    /* grid-template-columns: 50% 50%; */
    align-items: center;
    justify-content: space-around;

}

main {
    margin-top: 50px;
}

.form {
    /* background-color: red; */
    width: 50%;
    padding: 30px;
    height: 100%;
}

.form-control, #form12{
    width: 400px;
    border: none;
    background-color: transparent;
}

.form-outline{
    width: 400px;
    border: none;
}

.form input {
    width: 400px;
    height: 40px;
    padding: 15px;
    border: none;
    margin: 4px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 10px;
}

.loginemailbox{
    position: absolute;
    width: 38px;
    right: 10px;
}

.form p {
    font-size: 1.1rem;
}

textarea:focus,
input:focus {
    outline: none;
}

.intosection img {
    width: 50px;
    margin: 10px;
}

.intosection {
    display: flex;
    align-items: center;
}


/* button {
    font-size: 1.1rem;
    background-color: #2464b4;
    color: rgb(232, 231, 231);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 490px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
} */

/* BUTTON EDITS STARTS HERE */
button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 10px;
    background-color: #2464b4;
    color: rgb(232, 231, 231);
    border: 1px solid transparent;
    border-radius: 20px;
    display: flex;
    /* width: 490px; */
    align-items: center;
    font-size: 15px;
  }

  .formbtn{
    border-radius: 50px; 

  }
  
  button:hover {
    background-color: #2464b4;
    color: rgb(232, 231, 231);
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
/* BUTTON EDITS ENDS HERE */


/* LOGIN FORM SETUP SECTION ENDS HERE */



/* media query starts here ........... */
@media only screen and (max-width: 865px) {


    body {
        background-image: url('/static/useronboard/login/images/mobilebkg.svg');
        background-size: cover;
        /* overflow: hidden; */
    }

    .formandimage {
        background-color: red;
        display: inline;
        height: 100%;
        width: 80%;
        margin: auto;
        border-radius: 20px;
        /* grid-template-columns: 50% 50%; */
        align-items: center;
        justify-content: space-around;

    }

    .form {
        /* background-color: red; */
        width: 100%;
        padding: 30px;
        height: 100%;
        background-color: transparent;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.19);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.4px);
        -webkit-backdrop-filter: blur(6.4px);
        border: 1px solid rgba(255, 255, 255, 0.04);
    }

    .loginmainimg img {
        margin-top: -100px;
        width: 100%;
        background-color: white;
        padding: 20px;
        border-bottom-left-radius: 220px;
        border-bottom-right-radius: 220px;
    }

    button {
        width: 170px;
    }

    .form input {
        width: 300px;
    }

}